* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

$pink: #e84393;
$black: #333;
$white: #fff;
$light-color: #666;
$alert: #d63031;
$light-bg: #eee;
$border: 0.2rem solid $black;


.box {
  border-radius: 0.5rem;
  text-align: center;
  border: $border;
  margin: 5rem 15rem;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .image {
    border-radius: 0.5rem;
    overflow: hidden;
    width: 80%;
    object-fit: cover;
  }

  .content {
    width: 100%;
    display: flex;
    margin: 1rem;
    flex-direction: column;
    justify-content: justify;
    align-items: justify;

    .title {
      font-size: 2rem;
      color: $black;
      font-weight: 700;
    }

    .text {
      p {
        font-size: 1.2rem;
        color: $black;
        font-weight: 500;
        text-align: justify;

      }

      :hover {
        color: $pink;
      }

      .price {
        font-size: 1.5rem;
        color: $black;
        text-align: center;

        span {
          font-size: 1.8rem;
          color: $pink;
        }
      }

      .stock {
        font-size: 1rem;
        color: $light-color;
        text-align: center;
        font-weight: 600;

        span {
          font-size: 1rem;
          color: $light-color;
        }
      }

      .agregado {
        text-align: center;
        background: $alert;
        color: $white;
        border-radius: 0.5rem;
        padding: 0.8rem;
        margin: 1rem;
      }
    }

    .btn {
      display: inline-block;
      margin: 1rem;
      padding: 0.8rem;
      font-size: 1rem;
      color: $black;
      border: $border;
      background: none;
      cursor: pointer;
      border-radius: 0.5rem;

      &:hover {
        background: $black;
        color: $white;
      }
    }

  }
}