$pink: #e84393;
$black: #333;
$white: #fff;
$light-color: #666;
$alert: #d63031;
$light-bg: #eee;
$border: 0.2rem solid $black;

.icon {
  visibility: hidden;
  opacity: 0;
  display: block;
  font-size: 2rem;
  color: $black;
  cursor: pointer;
  margin: 1.8rem auto;

  &:hover {
    color: $pink;
  }
}

.icon-active {
  visibility: visible;
  opacity: 1;


  span {
    font-size: 2rem;
    color: $black;
    cursor: pointer;
    margin: 1rem .8rem;
  }
}