* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

$pink: #e84393;
$black: #333;
$white: #fff;
$light-color: #666;
$alert: #d63031;
$light-bg: #eee;
$border: 0.2rem solid $black;




.wrap {
  margin-top: 5%;
  width: 70%;
  margin-left: 20%;
  display: flex;
  justify-content: center;
  background-color: $light-bg;
  box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.18);
  
}


.container-checkout {
  width: 65%;
  padding: 2% .5%;
}

h1 {
  align-self: center;
}

form {
  width: 100%;

  >* {
    margin-top: 20px;
  }

  input {
    width: 100%;
    min-height: 25px;
    border: 0;
    font-size: 1rem;
    letter-spacing: .15rem;
    margin-top: 5px;
    color: $pink;
    border-radius: 4px;
  }

  label {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    color: $light-color;
  }

  h1 {
    font-size: 24px;
    line-height: 10px;
    color: $pink;
    letter-spacing: 1px;
  }

  h1:nth-of-type(2) {
    margin-top: 10%;
  }

  .icon-form{
    font-size: 3rem;
    color: $pink;
      
  }
}

.name {
  display: flex;
  justify-content: space-between;

  div {
    width: 49%;
  }
}

.address-info {
  display: flex;
  justify-content: space-between;

  div {
    width: 30%;
  }
}

.btns {
  display: flex;
  flex-direction: row;
  align-items:center;

  .btn-checkout {
    margin: 2rem 3rem;
    padding: 0.8rem;
    font-size: 1rem;
    color: $white;
    background: $pink;
    cursor: pointer;
    border-radius: 0.5rem;
    margin: .5rem;


    &:hover {
      animation-name: btn-hov;
      animation-duration: 550ms;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes btn-hov {
  100% {
    background-color: $white;
    color: $pink;
    transform: scale(1.05)
  }
}

input:focus,
button:focus {
  outline: none;
}